@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');

:root {
    --red-t: #ce5454;
    --bg-pic: url(../Images/BGPic.jpg);
}

.red {
    color: var(--red-t);
}

body {
    background-image: var(--bg-pic);
    background-color: var(--bg-color);
    color: var(--text-color);
    background-size: cover;
}

* {
    font-family: 'Rubik';
}

.logo {
    background-image: url(/Images/Logo.png);
}

header {
    background-color: #ffffff;
    padding: 0px;
    box-shadow: 3px 3px 10px #d6d6d6;
}

.footer {
    background: #222222;
    border-radius: 12px 12px 0px 0px;
    color: white;

}

img.ftlogo {
    background-image: url(/Images/Logo.png);
    width: 300px;
    height: 5px;

}

.bg-light {
    background-color: rgb(255, 255, 255) !important;
}

.col-g {
    background-color: green;
}

.col-r {
    background-color: #D50101;
}

.col-b {
    background-color: blue;
}



.f-height {
    height: 100%;
}

.bg-c {
    background: url(../Images/DonateLifeCP.png);
    height: 16cm;
    border-radius: 25px;
    background-size: cover;

}

.btn.btn1 {
    background-color: rgb(0, 0, 0);
    padding: 0 10px;
    box-shadow: 0 0 10px 0 #000;

}

.donateLifeCoverHead {
    width: 450px;
    height: 250px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #D50101;
    text-shadow: 3px 3px 10px #FFFFFF;
}

.donateLifeCoverDis {
    width: 450px;
    height: 150px;
    left: 136px;
    top: 371px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;

}

.btn.btn-getStart {
    box-sizing: border-box;
    width: 232px;
    height: 70px;
    left: 13px;
    top: 509px;
    color: rgb(255, 255, 255);
    font-size: large;
    background: #D50101;
    border: 1px solid #FFFFFF;
    border-radius: 18.5px;
}

.btn.btn-signup {
    box-sizing: border-box;
    height: 38px;
    color: var(--red-t);
    font-size: medium;
    text-align: center;
    background: #ffffff;
    border: 1px solid #D50101;
    border-radius: 8px;

}

.btn.btn-login {
    box-sizing: border-box;
    height: 38px;
    color: #000000;
    font-size: medium;
    text-align: center;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
}

.instr {

    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: #D50101;
    background-color: #E9E9E9;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.instr-sub {
    font-size: large;
    text-align: left;
    font-weight: 400;
    line-height: 40px;
    color: black;
}

.get-start-card {
    margin-top: 3%;
    padding: 0px;

    width: 40% !important;
    height: 457px;
    left: 331px;
    top: 185px;

    background: rgba(213, 1, 1, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.get-started-top {

    /* width: 619px; */
    width: 100%;
    /* height: 113px; */
    /* height: 25%; */
    left: 331px;
    top: 10%;

    background: #FAF7F7;
    border-radius: 35px 35px 180px 180px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100px;

    text-align: center;

    color: #F32939;
}

.btn.donor {

    background-color: #F32939;
    color: white;
    border: 0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 34.3299px;

    font-family: 'Rubik' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;


    display: block;
    margin: 15px auto;
    border: 20px;
    padding: 15px 45px;
    height: 70px;
    width: 60%;


    visibility: visible;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


.card.aboutus {
    width: 75%;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: #D50101;
    background-color: #E9E9E9;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.card.aboutus-sub {
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    line-height: 30px;
    background-color: #E9E9E9;
    border: none;
    color: black;
}

.card.inst {

    border: 0;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: #D50101;
    background-color: #E9E9E9;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.card.inst-sub {
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    line-height: 45px;
    background-color: #E9E9E9;
    border: none;
    color: rgb(0, 0, 0);
}

.btn.org-info {

    background-color: white;
    color: var(--red-t);
    border: 0;
    margin: 15px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 34.3299px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;


    display: block;
    width: 169px;
    height: 28px;
    left: 919px;
    top: 666px;

}

.btn.form {

    background-color: var(--red-t);
    color: white;
    border: 0;
    margin: 15px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 34.3299px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;


    display: block;
    width: 169px;
    height: 28px;
    left: 919px;
    top: 666px;

}


.search.input-group-text {
    width: 40%;
    height: 40px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px ;
}

.search.input-group{
    width: 40%;
    background: #E9E9E9;
}

.search.size{
    width: 570px;
    background-color: #E9E9E9;
    border: none;
    padding: 0;
    margin: 0%;
}

input[type="text"]::placeholder {
    text-align: center;
    opacity: 50%;
}


tr {
    border: 0;
    margin: 5px;
}

.solid {
    border: 2px red solid;
    border-radius: 10px;
}

.dotted {
    border: 2px green dotted;
    border-radius: 10px;
}

.dashed {
    border: 2px blue dashed;
    border-radius: 10px;
}

td {
    padding: 5px;
}

a.none {
    text-decoration: none;
    color: black;
}

a.none:hover {
    color: #D50101;
    font-weight: 450;
    border-width: 2px;
    transition: all .5s ease-in;
}

.btn.btn-signup:hover {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 5px #fc000056);
    transition: all .2s ease-in;
}

.btn.btn.btn-login:hover {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 5px #8a8a8a7a);
    transition: all .2s ease-in;
}

.btn.btn-getStart:hover {
    background-color: #eb0202;
    border: #D50101;
    border-style: solid;
    filter: drop-shadow(1px 1px 5px #fc000056);
    transition: all .2s ease-in;
}

/*===========================================================*/


.btn.form1 {
    background-color: white;
    color: var(--red-t);
    border: 0;
    margin: 15px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 34.3299px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: block;
    width: 169px;
    height: 28px;
    right: 1000px;
    top: 666px;
}

.btn.form2 {
    background-color: var(--red-t);
    color: white;
    border: 0;
    margin: 15px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 34.3299px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: block;
    width: 169px;
    height: 28px;
    left: 919px;
    top: 666px;
}


.form-control{
    border-left: none;
}

.input-group-text{
    background-color: white;
    border-right-color: rgb(0, 0, 0);
}

.card.donorform {
    width: 75%;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: larger;
    /* font-weight: 500; */
    color: #000000;
    background-color: #E9E9E9;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-color: #e57878;
    /* border-style: solid; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
  }

.nav-link::after{
    text-decoration: none;
}








/* Hover */

a.none {
    text-decoration: none;
    color: black;
}

a.none:hover {
    color: #D50101;
    font-weight: 450;
    border-width: 2px;
    transition: all .5s ease-in;
}

.btn.btn-signup:hover {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 5px #fc000056);
    transition: all .2s ease-in;

}

.btn.btn.btn-login:hover {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 5px #8a8a8a7a);
    transition: all .2s ease-in;


}

.btn.btn-getStart:hover {
    background-color: #eb0202;
    border: #D50101;
    border-style: solid;
    filter: drop-shadow(1px 1px 5px #fc000056);
    transition: all .2s ease-in;
}