div {

    table {

        

        .thead {
            td {
                font-weight: bold;
                height: 40px;
                background: rgba(213, 1, 1, 0.69);
                color: white;
                font-style: normal;
                text-align: center;
            }
        }

        td {
            background: #D9D9D9;

            &.heart {
                text-align: center;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }


    }

}

.c-orgt {
    padding-left: 30px;
}

.tdetails {
    font-size: 13px;
}



.c-fst {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.c-lst {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container{
        
    .row{
        

        .card.card-img{
            background-color: rgba(255, 255, 255, 0);
            border: 0;
        }
    }

}


* {
    padding: 0;
}


.whiteCard{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    
    div.row{
        padding: 20px;
        height: 100%;

        .grayCardL{
            background-color: #E9E9E9;
            padding-left: 10px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 0;
            text-transform: uppercase;

            .adH{
                color: var(--red-t);
                height: 100px;
                font-size: 35px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                align-items: center;
                text-align: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                
            }

            .adCon{
                height: 67%;


                .ad{
                    padding: 0 10px 30px 25px;
                    font-size: 20px;

                    &:hover{
                        color: var(--red-t);
                        transition: all .2s ease-in;
                    }
                }
            }

            .adLog{
                display: flex;
                justify-content: center;
                align-items: center;
                align-items: center;
                text-align: center;

                .btn{

                    &:hover{
                        background-color:rgb(233, 3, 3);
                        filter: drop-shadow(1px 1px 5px #8a8a8a7a);
                        transition: all .2s ease-in;
                    }
                }
            }

        
        }

        .grayCardR{
            background-color: #E9E9E9;
            border-radius: 20px;
            width: 73%;
            
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            .adH{
                color: var(--red-t);
                height: 100px;
                font-size: 35px;
                font-weight: 500;
                display: flex;
                justify-content: left;
                align-items: center;

                text-align: left;
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                
            }

            .adCard{
                padding-top: 100px;
                height: 500px;
                overflow: auto;
                

                .card{
                    background-color: #E9E9E9;
                    border: none;
                    
                    .card-body{
                        background-color: #ebebeb;
                        border: 1px solid rgba(0, 0, 0, 0.25);
                        border-radius: 15px;
                        
                        &:hover{
                            background-color: #eeeeee;
                            filter: drop-shadow(1px 1px 5px #8a8a8a7a);
                            transition: all .1s ease-in;
                        }

                        .adViewBtn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-items: center;
                            text-align: center;
                            
                            .btn{
                                margin: 0;
                                height: 40px;
                                width: 100px;
                                background-color: #233862;
                            
                                &:hover{
                                    background-color:#395ba0;
                                    filter: drop-shadow(1px 1px 5px #8a8a8a7a);
                                    transition: all .2s ease-in;
                                }
                            
                            }
                        }

                    }
                }
            }
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #24242463; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000a1; 
  }