@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito:ital@0;1&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');


html,
body {

    min-height: 100vh;
    background-color: #E1E8EE;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
}


.container-form {
    background-color: rgba(213, 1, 1, 0.4);
    border-radius: 15px;
    width: 409px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);

    &::after {
        content: '';
        opacity: 0.8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(213, 1, 1, 0.4);
        background-size: 500px;
        background-position: left bottom;
    }

    form{
    .signup {
        position: absolute;
        margin-top: 5%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        z-index: 5;
        transition: all .5s ease;

        &.slide-up {
            top: 3%;
            transform: translate(-50%, 0);
            transition: all .5s ease;
        }

        &.slide-up .form-holder,
        &.slide-up .submit-btn {
            opacity: 0;
            visibility: hidden;
        }

        &.slide-up .form-title {
            font-size: 1.3em;
            cursor: pointer;
        }

        &.slide-up .form-title div {
            margin-right: 5px;
            margin-top: 0;
            font-size: 0.5em;
            opacity: 1;
            visibility: visible;
            transition: all .5s ease;

        }

        .form-title {
            color: #fff;
            font-size: 1.7em;
            text-align: center;

            div {
                font-size: medium;
                color: #fff9;
                opacity: 0;
                visibility: hidden;
                transition: all .5s ease;
            }
        }

        .form-holder {
            border-radius: 15px;
            background-color: #fff;
            overflow: hidden;
            margin-top: 50px;
            opacity: 1;
            visibility: visible;
            transition: all .5s ease;

            .input {
                border: 0;
                outline: none;
                box-shadow: none;
                display: block;
                height: 38px;
                line-height: 30px;
                padding: 8px 15px;
                border-bottom: 2px solid rgb(161, 14, 14);
                width: 100%;
                font-size: 12px;

                &:last-child {
                    border-bottom: 0;
                }

                &::-webkit-input-placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }

        .submit-btn {
            background-color: #CB0010;
            color: rgba(256, 256, 256, 1);
            border: 0;
            border-radius: 15px;
            display: block;
            margin: 15px auto;
            padding: 15px 45px;
            width: 100%;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            opacity: 1;
            visibility: visible;
            transition: all .5s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
    }

}

.input-group-text {
    background-color: rgb(255, 255, 255);
    border: none;
}

.input{
    height: 28px;
}

.form-control-frm {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-color: #e2e2e2;
    font-size: small;
    color: rgb(61, 153, 8);
}

input[class="input"]::placeholder {
    font-size: small;
    vertical-align: middle;
    color: rgb(209, 209, 209);
    text-align: center;
    opacity: 1
}
